<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/ngQuickDate/dist/ng-quick-date.css" />
  <link rel="stylesheet" href="bower_components/ngQuickDate/dist/ng-quick-date-default-theme.css" />
  <link rel="stylesheet" href="bower_components/angular-dropdowns/dist/angular-dropdowns.css" />
  <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/summary.css">
  <link rel="stylesheet" href="styles/model.css">
  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" href="styles/login.css">
  <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/amber-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/blue-grey-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/blue-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/brown-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/cyan-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/deep-orange-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/deep-purple-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/green-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/grey-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/indigo-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/light-blue-dark-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/light-green-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/lime-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/orange-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/pink-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/purple-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/red-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/teal-theme.css">
  <link rel="stylesheet" href="/bower_components/angular-material/themes/yellow-theme.css">
  <!-- endbuild -->
</head>
<body id="appBackground" ng-app="proto" style="background-color: white">
<div ng-controller="ApplicationCtrl" style="height: 100%;">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--TODO More styles to stylesheet-->
  <!--TODO Automatically route users to login page if not logged int-->
  <section ng-controller="NavBarCtrl">
    <!--Fab Add Page Action Button-->
    <!--TODO Functionality-->
    <!--TODO Once clicked show additional actions; save view, on compare page add player, on model add a custom route-->
    <!--TODO Will need a service tracking which view is current opened and player(s) on the page-->
    <!--TODO Close on click module-->
    <section id="fabButtons">
      <md-button ng-if="isLoggedIn()" class="md-fab md-warn" id="fabAction" aria-label="fab action" ng-click="toggleFab()" off-click="toggleFab()" off-click-if="showFabActions">
        <i class="fa fa-plus"></i><md-tooltip>Actions</md-tooltip>
      </md-button>
      <md-button ng-show="showFabActions" class="md-fab md-warn" ng-click="actionSelected(0)" id="saveView" aria-label="save view">
        <i class="fa fa-bookmark"></i><md-tooltip>Save Current View</md-tooltip>
      </md-button>
      <md-button ng-show="showFabActions" class="md-fab md-warn" ng-click="actionSelected(1)" id="addPlayer" aria-label="add player">
        <i class="fa fa-plus"></i>
        <i class="fa fa-user"></i><md-tooltip>Add Player</md-tooltip>
      </md-button>
      <md-button ng-show="showFabActions" class="md-fab md-warn" ng-click="actionSelected(2)" id="addRoute" aria-label="add route">
        <i class="fa fa-line-chart"></i><md-tooltip>Add Route</md-tooltip>
      </md-button>
    </section>

    <!--Left SideNav-->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="mobileNav">
      <md-toolbar>
      </md-toolbar>
      <md-list>
        <md-item>
          <angucomplete-alt ng-controller="TypeaheadCtrl" ng-show="isLoggedIn()"
                            id="main_complete"
                            placeholder="SEARCH PLAYERS"
                            pause="100"
                            selected-object="selectedPlayer"
                            local-data="players.wideReceivers.players"
                            search-fields="name"
                            title-field="name"
                            minlength="1"
                            input-class="form-control form-control-small"></angucomplete-alt>
        </md-item>
        <md-item ng-repeat="page in pages" ng-click="close('mobileNav')">
          <md-item-content>
            <md-button ui-sref="{{page.link}}"><i class="{{page.icon}}" style="padding-right: 4%;"></i>{{page.name}}</md-button>
          </md-item-content>
        </md-item>
      </md-list>
    </md-sidenav>

    <!--Activity Right SideNav-->
    <!--TODO Clicks on card routes to route modeling for that route-->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="activityNav">
      <md-toolbar id="rightSideBar" md-theme="{{ dynamicTheme }}" md-theme-watch>
        <h2>Recent Player Activity</h2>
      </md-toolbar>
      <md-list>
        <md-card class="recentActivityCard" ng-repeat="activity in activities">
            <h2>{{activity.date | date : format : shortDate}}:</h2>
            <label>{{activity.text}}</label>
          <div layout="row">
            <md-button aria-label="View Route"><i class="fa fa-eye"></i><md-tooltip>View Route</md-tooltip></md-button>
            <md-button aria-label="Give Player Feedback"><i class="fa fa-comment-o"></i><md-tooltip>Give Player Feedback</md-tooltip></md-button>
            <md-button aria-label="Bookmark for Later Review"><i class="fa fa-bookmark"></i><md-tooltip>Bookmark for Later Review</md-tooltip></md-button>
            <md-button aria-label="Share with Another Coach"><i class="fa fa-share-alt"></i><md-tooltip>Share with Another Coach</md-tooltip></md-button>
          </div>
        </md-card>
      </md-list>
    </md-sidenav>

    <!--NavBar-->
    <md-toolbar id="NavBar" layout="row" layout-align="left left">
      <!--Logo-->
      <md-button class="md-fab" aria-label="logo" ui-sref="login"><i class="fa fa-bolt"></i></md-button>
      <div flex="10" ng-show="isLoggedIn()" hide-gt-md>
        <md-button ng-click="toggleSide('mobileNav')" id="leftNavToggle" aria-label="toggle navbar"><i class="fa fa-navicon"></i></md-button>
      </div>
      <div flex="60" ng-show="isLoggedIn()" hide-gt-md></div>
      <div flex ng-show="!isLoggedIn()"></div>

      <md-tabs flex="70" ng-show="isLoggedIn()" hide-sm hide-md>
        <!--TODO Don't show Comparison for players-->
        <md-tab ng-repeat="page in pages" ui-sref="{{page.link}}" ng-mouseenter="page.showMenu = true" ng-mouseleave="page.showMenu = false">
          <i class="{{page.icon}}" style="padding-right: 2%;"></i>{{page.name}}
          <!--<div layout="column" ng-show="page.showMenu" style="position: absolute;" class="dropdown" style="background-color: #808080; z-index: 3" ng-mouseenter="page.showMenu = true" ng-mouseleave="page.showMenu = false">-->
            <!--<a ng-repeat="item in page.menu" ui-sref="item.link" class="dropdown-item" style="color: black;">{{item.text}}</a>-->
          <!--</div>-->
        </md-tab>
      </md-tabs>

      <!--TODO Search Syntax-->
      <!--Search-->
      <div layout="row" layout-align="center end" flex="25">
        <angucomplete-alt ng-controller="TypeaheadCtrl" ng-show="isLoggedIn()" hide-sm hide-md
                          style="font-size: 14px;
                          font-weight: 500;position: relative; bottom: 0.5em;"
                          id="ex1"
                          placeholder="SEARCH PLAYERS"
                          pause="100"
                          selected-object="selectedPlayer"
                          local-data="players.wideReceivers.players"
                          search-fields="name"
                          title-field="name, position"
                          minlength="1"
                          input-class="form-control form-control-small"></angucomplete-alt>
        <!--User Options-->
        <!--TODO Make settings do what they should-->
        <md-button ng-show="isLoggedIn()" aria-label="userOptions" ng-click="userOptions($event)">
          <i class="fa fa-user"></i><md-tooltip>User Options</md-tooltip>
        </md-button>
        <!--Notifications-->
        <!--TODO Clicking on notifications takes you to that player's summary page-->
        <md-button ng-show="isLoggedIn()" aria-label="notifications" ng-click="userNotifications($event)">
          <i class="fa fa-bell"></i><md-tooltip>Notifications</md-tooltip>
        </md-button>
        <!--Notifications Indicator-->
        <div class="noti_bubble" ng-show="isLoggedIn()">2</div>

        <!--Activity-->
        <md-button ng-show="isLoggedIn()" aria-label="toggle activity" ng-click="toggleSide('activityNav')" style="position: relative; right: 0.7em;">
          <i class="fa fa-history"></i><md-tooltip>Recent Player Activity</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
  </section>

  <div id="" ui-view></div>
  <div class="footer">

  </div>
</div>


<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/n3-line-chart/dist/line-chart.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/hammerjs/hammer.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/ngQuickDate/dist/ng-quick-date.js"></script>
<script src="bower_components/angular-dropdowns/dist/angular-dropdowns.js"></script>
<script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
<script src="bower_components/angular-off-click/offClick.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/constants/loginConstants.js"></script>

<!--Controllers-->
<script src="scripts/controllers/compare.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/model.js"></script>
<script src="scripts/controllers/application.js"></script>
<script src="scripts/controllers/typeAhead.js"></script>
<script src="scripts/controllers/summary.js"></script>
<script src="scripts/controllers/navBar.js"></script>
<script src="scripts/controllers/userBottomSheet.js"></script>
<script src="scripts/controllers/navBar.js"></script>
<script src="scripts/controllers/settingsBottomSheet.js"></script>
<script src="scripts/controllers/notificationsBottomSheet.js"></script>
<script src="scripts/controllers/themeProvider.js"></script>

<!--Services-->
<script src="scripts/services/rosterService.js"></script>
<script src="scripts/services/playerService.js"></script>
<script src="scripts/services/authService.js"></script>
<script src="scripts/services/sessionService.js"></script>
<script src="scripts/services/routeService.js"></script>
<script src="scripts/services/themeService.js"></script>

<!--Filters-->
<script src="scripts/filters/camelCaseToHuman.js"></script>

<!--Directives-->
<!-- endbuild -->
</body>
</html>
