<md-bottom-sheet class="md-list md-has-header">
  <div layout="row">
    <div flex="90"></div>
    <div flex="10"><md-button style="float: right;" aria-label="Close Details" ng-click="closeBottom()">Close X</md-button></div>
  </div>
  <md-list>
    <md-item ng-controller="ApplicationCtrl">{{getCurrentUser().username}} ({{getCurrentUser().role}})</md-item>
    <md-item>
      <md-button ng-click="settings($event)">
        <i class="fa fa-gear"></i>
        <span>Settings</span>
      </md-button>
    </md-item>
    <md-item>
      <!--TODO Help-->
      <md-button>
        <i class="fa fa-question"></i>
        <span>Help</span>
      </md-button>
    </md-item>
    <md-item ng-controller="LoginCtrl">
      <md-button ng-click="logout()">
        <i class="fa fa-sign-out"></i>
        <span>Log Out</span>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>
