<!--TODO More styles to stylesheet-->
<!--Player Selection SideNav-->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar layout="row">
    <h2>Change Player</h2>
  </md-toolbar>
  <angucomplete-alt ng-controller="TypeaheadCtrl" ng-show="isLoggedIn()" hide-sm
                    id="summaryPlayerTypeAhead"
                    placeholder="SEARCH PLAYERS"
                    pause="100"
                    selected-object="selectedPlayer"
                    local-data="players.wideReceivers.players"
                    search-fields="name"
                    title-field="name"
                    minlength="1"
                    input-class="form-control form-control-small"></angucomplete-alt>
  <div id="summaryPlayerPositions" ng-repeat="position in players">
    <span><h2 ng-click="position.show = !position.show">{{position.position}}
      <i class='fa fa-chevron-circle-right'></i></h2></span>


    <div ng-show="position.show" ng-repeat="player in position.players">
      <a ng-click="selectPlayer(player.id);">#{{player.number}}: {{player.name}} {{player.route}}</a>
    </div>
  </div>
</md-sidenav>

<!--Data binding of player info-->
  <div id="summaryPlayerInfoBar" layout="row" layout-sm="column">
    <div id="summaryPlayerPicFlex" flex="20">
      <img ng-show="showPlayerInfo" id="summaryPlayerPic" src="images/yeoman.png">
      <md-button id="summaryTogglePlayerSelection" ng-click="toggleLeft()" aria-label="toggle player selection">
        <i class='fa fa-edit'><md-tooltip>Change Player</md-tooltip></i>
      </md-button>
    </div>
    <div flex="25" id="summaryPlayerInfo">
      <div ng-show="showPlayerInfo">
        <label style="font-size: 30px">{{player.name}}</label><br>
        <label>#{{player.number}} {{player.position}} ({{player.route}})</label><br>
        <label>{{player.ht}}, {{player.wt}} lbs</label><br>
        <label>Born: </label><label>{{player.birth}}</label><br>
        <label>Year: </label><label>{{player.year}}</label>
      </div>
      <div ng-show="!showPlayerInfo">
        <label>{{player.number}}: {{player.name}} - {{player.position}}</label>
      </div>
    </div>
    <div flex="15">
      <div ng-show="showPlayerInfo">
        <label class="progressLabel">Last Workout</label>

        <div class="container">
          <div class="progress-wrapper">
            <div class="progress">{{quality1Current}}%</div>
            <md-progress-circular class="progressCircle" md-mode="determinate" md-diameter="85" value="{{quality1Current}}" hide-sm></md-progress-circular>
          </div>
        </div>
      </div>
      <div ng-show="!showPlayerInfo">
        <label>Last: {{quality1Complete}}%</label>
      </div>
    </div>
    <div flex="15">
      <div ng-show="showPlayerInfo">
        <label class="progressLabel">Week Quality</label>

        <div class="container">
          <div class="progress-wrapper">
            <div class="progress">{{quality2Current}}%</div>
            <md-progress-circular class="md-hue-3 progressCircle" md-mode="determinate" md-diameter="85" value="{{quality2Current}}" hide-sm></md-progress-circular>
          </div>
        </div>
      </div>
      <div ng-show="!showPlayerInfo">
        <label>Week: {{quality2Complete}}%</label>
      </div>
    </div>
    <div flex="15">
      <div ng-show="showPlayerInfo">
        <label class="progressLabel">Season Quality</label>

        <div class="container">
          <div class="progress-wrapper">
            <div class="progress">{{quality3Current}}%</div>
            <md-progress-circular class="md-warn progressCircle" md-mode="determinate" md-diameter="85" value="{{quality3Current}}" hide-sm></md-progress-circular>
          </div>
        </div>
      </div>
      <div ng-show="!showPlayerInfo">
        <label>Season: {{quality3Complete}}%</label>
      </div>
    </div>
    <div flex>
      <md-button id="summaryTogglePlayerInfo" aria-label="toggle player info" ng-click="showPlayerInfo = !showPlayerInfo">
        <i ng-show="showPlayerInfo" class='fa fa-chevron-down fa-lg'></i><md-tooltip>Toggle Player Info</md-tooltip>
        <i ng-show="!showPlayerInfo" class='fa fa-chevron-right fa-lg'></i>
      </md-button>
    </div>
  </div>

<!--Chart Selection Tabs-->
<div id="divTableSummary">
  <md-toolbar>
      <span layout="row">
        <md-tabs md-selected="selectedIndex" flex="95">
          <md-tab ng-show="summaryShowChart" ng-repeat="stat in playerStats" ng-click="chart(stat.varName)" ng-disabled="tab.disabled"
                  label={{stat.name}}></md-tab>
          <md-tab ng-show="!summaryShowChart" ng-click="summaryShowChart = !summaryShowChart" label="Show Chart"></md-tab>
        </md-tabs>
        <div flex>
          <md-button id="summaryToggleChart" aria-label="toggle chart" ng-click="summaryShowChart = !summaryShowChart">
            <i ng-show="summaryShowChart" class='fa fa-chevron-down'></i><md-tooltip>Toggle Chart</md-tooltip>
            <i ng-show="!summaryShowChart" class='fa fa-chevron-right'></i>
          </md-button>
        </div>
      </span>
  </md-toolbar>

  <!--Stat Chart-->
  <div id="summaryChart" ng-show="summaryShowChart">
    <linechart data="data" options="options" mode="" height="300"></linechart>
  </div>

  <!--Quick Chart Options-->
  <div id="summaryQuickChartControls" ng-show="summaryShowChart">
    <md-tabs>
      <md-tab>1 Week</md-tab>
      <md-tab>2 Weeks</md-tab>
      <md-tab>1 Month</md-tab>
      <md-tab>2 Months</md-tab>
      <md-tab>6 Months</md-tab>
    </md-tabs>
  </div>

  <!--TODO quick buttons for ranges (1 week, 2 weeks, 1 month, 2 months, 6 months, 1 yr, all)-->
  <!--Chart Controls-->
  <div id="summaryChartControls" ng-show="summaryShowChart" layout="row">
    <div flex><label>Start Date of Chart</label></div>
    <div flex>
      <md-slider min="0" max="255" aria-label="days ago"></md-slider>
    </div>
    <div flex><label>End Date of Chart</label></div>
    <div flex>
      <md-slider min="0" max="255" aria-label="days till" ></md-slider>
    </div>
    <div flex></div>
  </div>

  <!--Date filters for stat overview-->
  <section id="summaryStatFilters" ng-controller="SummaryCtrl">
    <div layout="row">
      <div flex></div>
      <div flex>
        <quick-datepicker ng-model='date1' disable-timepicker='true'></quick-datepicker>
      </div>
      <div flex>
        <quick-datepicker ng-model='date1' disable-timepicker='true'></quick-datepicker>
        <quick-datepicker ng-model='date1' disable-timepicker='true'
                          style="float: right;margin-right: 10%"></quick-datepicker>
      </div>
      <div flex layout="row">
        <label id="summaryStatDropdownLabel">Season</label>
        <!--TODO Customize dropdown templates-->
        <div id="summaryStatDropdown" dropdown-select="ddSelectOptions"
             dropdown-model="ddSelectSelected"
             dropdown-item-label="text">
        </div>
      </div>
    </div>

    <!--Grid of stat overview-->
    <section id="summaryStatOverview">
      <div ng-repeat="stat in playerStats">
        <div layout="row">
          <div flex id="summaryStatName" ng-click="(stat.show = !stat.show)">
            <label>{{stat.name}}</label>
            <i class='fa fa-chevron-circle-right'></i>
          </div>
          <div flex><label>{{stat.values[0][1]}} {{stat.measure}}</label></div>
          <div flex>
            <label>{{stat.rangeAvg}} {{stat.measure}}</label>
            <label id="summaryRangeAvg"
              style="color: {{(stat.values[0][1] - stat.rangeAvg) >= 0 ? 'green' : 'red'}};">
              ({{Math.abs(stat.values[0][1] - stat.rangeAvg)| number:2}} {{stat.measure}})
            </label>
          </div>
          <div flex>
            <label>{{stat.seasonAvg}} {{stat.measure}}</label>
            <label id="summarySeasonAvg"
              style="color: {{(stat.values[0][1] - stat.seasonAvg) >= 0 ? 'green' : 'red'}};">
              ({{Math.abs(stat.values[0][1] - stat.seasonAvg)| number:2}} {{stat.measure}})
            </label>
          </div>
        </div>
        <section ng-show="stat.show">
          <div layout="row">
            <div flex></div>
            <div flex><label>Date</label></div>
            <div flex><label>{{stat.name}}</label></div>
            <div flex></div>
          </div>
          <div layout="row" ng-repeat="value in stat.values">
            <div flex></div>
            <div flex>{{value[0] | date : format : shortDate}}</div>
            <div flex>{{value[1]}} {{stat.measure}}</div>
            <div flex></div>
          </div>
        </section>
      </div>
    </section>
  </section>
</div>
